/TVTower
/TVTower.debug
/TVTower_noPulseAudio
/TVTower_Linux32
/TVTower_Linux64
/TVTower_Linux32_noPulseAudio
/TVTower.mt
/TVTower.nonstripped
*.exe
*.bak
*.app
*.bmx/
log.*.txt
tests/
*savegames/
source/version.txt
TVTowerSolution.BLIdeUS.layout
TVTower.blpo
/anleitung.txt
screenshot*.png
screenshot*.jpg
.DS_Store
*.ffs_db