/log.app.txt
/log.ki1.txt
/log.ki2.txt
/log.ki3.txt
/log.ki4.txt
/log.profiler.txt
/TVTower
/TVTower.debug
/TVTower.exe
/version.txt
TVTower.debug.exe
debug.log
savegame.xml
*.bak
*.o
*.s
source/version.txt
TVTowerTests.debug.exe
.bmx/maxunit.bmx.debug.win32.x86.i
source/version.txt