<?xml version="1.0"?>
<config version="2.0">
	<language>de</language>

	<playername>Player</playername>
	<channelname>My Channel</channelname>
	<startyear>1985</startyear>
	<databaseDir>res/database/Default</databaseDir>
	<stationmap>germany.xml</stationmap>

	<gamename>New Game</gamename>
	<onlineport>4544</onlineport>
	<fallbacklocalip>192.168.0.3</fallbacklocalip>

	<fullscreen>FALSE</fullscreen>
	<!-- possible values:
		OPENGL         = 0
		DIRECTX7       = 1
		DIRECTX9       = 2
		DIRECTX11      = 3
		BUFFEREDOPENGL = 4
	-->
	<renderer>0</renderer>
	<colordepth>16</colordepth>

	<screenW>800</screenW>
	<screenH>600</screenH>
	<vsync>TRUE</vsync>
	<fps>-1</fps>
	<touchInput>False</touchInput>
	<touchClickRadius>10</touchClickRadius>
	<rightClickEmulation>False</rightClickEmulation>
	<rightClickEmulationTime>400</rightClickEmulationTime>

	<!--
		disable all weather effects?
	<worldconfig>
		<showClouds>FALSE</showClouds>
		<showLightning>FALSE</showLightning>
		<showMoon>FALSE</showMoon>
		<showRain>FALSE</showRain>
		<showSkyGradient>FALSE</showSkyGradient>
		<showSnow>FALSE</showSnow>
		<showStars>FALSE</showStars>
		<showSun>FALSE</showSun>
	</worldconfig>
	-->
	
	<sound_effects>TRUE</sound_effects>
	<sound_music>TRUE</sound_music>

	<!-- possible values:
		all:     AUTOMATIC
		linux:   LINUX_ALSA, LINUX_OSS, LINUX_PULSE, UNIX_JACK
		mac:     MACOSX_CORE
		windows: WINDOWS_ASIO, WINDOWS_DS

		attention: program might crash with invalid settings, which
				   enforces you to adjust this file by hand!
	-->
	<sound_engine>AUTOMATIC</sound_engine>
</config>